In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
col_10_path = "County_data/Michigan_county_2010.csv"
col_10 = pd.read_csv(col_10_path)
col_10 = col_10[['County','Violent crime']]
col_10.head()

    County  Violent crime
0    Barry             37
1      Bay             40
2  Berrien            108
3  Calhoun             65
4     Cass             39

In [3]:
col_11_path = "County_data/Michigan_county_2011.csv"
col_11 = pd.read_csv(col_11_path)
col_11 = col_11[['County','Violent crime']]
col_11.head()

    County  Violent crime
0    Barry             40
1      Bay             46
2  Berrien            116
3  Calhoun             73
4     Cass             27

In [4]:
file_path = "County_data/Michigan_county_2012.csv"
col_12 = pd.read_csv(file_path)
col_12 = col_12[['County','Violent crime']]
col_12.head()

    County  Violent crime
0      Bay           44.0
1  Berrien           91.0
2  Clinton           10.0
3   Ingham           93.0
4  Jackson          103.0

In [5]:
file_path = "County_data/Michigan_county_2013.csv"
col_13 = pd.read_csv(file_path)
col_13 = col_13[['County','Violent crime']]
col_13.head()

    County  Violent crime
0    Barry           34.0
1      Bay           37.0
2  Calhoun           76.0
3     Cass           44.0
4  Clinton           21.0

In [6]:
file_path = "County_data/Michigan_county_2014.csv"
col_14 = pd.read_csv(file_path)
col_14 = col_14[['County','Violent crime']]
col_14.head()

    County  Violent crime
0    Barry           24.0
1      Bay           55.0
2  Berrien           83.0
3     Cass           52.0
4  Clinton           22.0

In [7]:
file_path = "County_data/Michigan_county_2015.csv"
col_15 = pd.read_csv(file_path)
col_15 = col_15[['County','Violent crime']]
col_15.head()

    County  Violent crime
0    Barry           44.0
1      Bay           46.0
2  Berrien          100.0
3  Calhoun          110.0
4     Cass           53.0

In [8]:
file_path = "County_data/Michigan_county_2016.csv"
col_16 = pd.read_csv(file_path)
col_16 = col_16[['County','Violent crime']]
col_16.head()

    County  Violent crime
0    Barry           34.0
1      Bay           44.0
2  Berrien          122.0
3  Calhoun          121.0
4     Cass           50.0

In [9]:
result_1 = pd.merge(col_10, col_11, how='left', on=['County'])
result_1 = result_1.rename(columns={'Violent crime_x':'2010','Violent crime_y':'2011'})
result_1

          County  2010   2011
0          Barry    37   40.0
1            Bay    40   46.0
2        Berrien   108  116.0
3        Calhoun    65   73.0
4           Cass    39   27.0
5        Clinton     7   17.0
6          Eaton    91   84.0
7        Genesee    35   30.0
8         Ingham    97   94.0
9          Ionia    43   31.0
10       Jackson   122  134.0
11     Kalamazoo   176  128.0
12          Kent   401    NaN
13        Lapeer    41   46.0
14    Livingston    67   43.0
15        Macomb   399  305.0
16        Monroe   229  188.0
17      Muskegon    36   34.0
18       Newaygo    33    NaN
19       Oakland   293    NaN
20        Ottawa   304  263.0
21       Saginaw    92   78.0
22     St. Clair   146  137.0
23     Van Buren   106  106.0
24     Washtenaw   460  430.0
25         Wayne     6   10.0
26        Alcona    18    9.0
27       Allegan    96    NaN
28        Alpena     5    4.0
29        Antrim    37   18.0
..           ...   ...    ...
43     Hillsdale    34   25.0
44      Houghton     4    5.0
45         Huron    12   13.0
46         Iosco     1    1.0
47          Iron     7    4.0
48      Isabella    46   31.0
49      Kalkaska    60    9.0
50       Lenawee    50   52.0
51          Luce    10    6.0
52      Mackinac     4    3.0
53      Manistee     8    NaN
54     Marquette     5    5.0
55       Mecosta   144  192.0
56       Midland    64    NaN
57     Missaukee     1    NaN
58      Montcalm    66   57.0
59   Montmorency     4    2.0
60        Oceana    31   21.0
61        Ogemaw    17   19.0
62     Ontonagon     6    3.0
63       Osceola    23   25.0
64        Oscoda    30   21.0
65        Otsego     6    3.0
66  Presque Isle     4    7.0
67     Roscommon    18   14.0
68       Sanilac    25   29.0
69    Shiawassee    51   46.0
70    St. Joseph    45   25.0
71       Tuscola    34   39.0
72       Wexford    45   26.0

[73 rows x 3 columns]

In [10]:
result_2 = pd.merge(result_1, col_12, how='left', on=['County'])
result_2

          County  2010   2011  Violent crime
0          Barry    37   40.0            NaN
1            Bay    40   46.0           44.0
2        Berrien   108  116.0           91.0
3        Calhoun    65   73.0            NaN
4           Cass    39   27.0            NaN
5        Clinton     7   17.0           10.0
6          Eaton    91   84.0            NaN
7        Genesee    35   30.0            NaN
8         Ingham    97   94.0           93.0
9          Ionia    43   31.0           29.0
10       Jackson   122  134.0          103.0
11     Kalamazoo   176  128.0            NaN
12          Kent   401    NaN          357.0
13        Lapeer    41   46.0           51.0
14    Livingston    67   43.0           42.0
15        Macomb   399  305.0          308.0
16        Monroe   229  188.0          209.0
17      Muskegon    36   34.0           46.0
18       Newaygo    33    NaN            NaN
19       Oakland   293    NaN         1025.0
20        Ottawa   304  263.0          319.0
21       Saginaw    92   78.0           91.0
22     St. Clair   146  137.0          134.0
23     Van Buren   106  106.0            NaN
24     Washtenaw   460  430.0          446.0
25         Wayne     6   10.0            0.0
26        Alcona    18    9.0           13.0
27       Allegan    96    NaN           93.0
28        Alpena     5    4.0            1.0
29        Antrim    37   18.0           22.0
..           ...   ...    ...            ...
43     Hillsdale    34   25.0            NaN
44      Houghton     4    5.0            2.0
45         Huron    12   13.0           15.0
46         Iosco     1    1.0            1.0
47          Iron     7    4.0            9.0
48      Isabella    46   31.0           45.0
49      Kalkaska    60    9.0           23.0
50       Lenawee    50   52.0            NaN
51          Luce    10    6.0            4.0
52      Mackinac     4    3.0            3.0
53      Manistee     8    NaN           23.0
54     Marquette     5    5.0            7.0
55       Mecosta   144  192.0          193.0
56       Midland    64    NaN           52.0
57     Missaukee     1    NaN            NaN
58      Montcalm    66   57.0           43.0
59   Montmorency     4    2.0            3.0
60        Oceana    31   21.0           20.0
61        Ogemaw    17   19.0           21.0
62     Ontonagon     6    3.0            2.0
63       Osceola    23   25.0           16.0
64        Oscoda    30   21.0           13.0
65        Otsego     6    3.0            8.0
66  Presque Isle     4    7.0            5.0
67     Roscommon    18   14.0           21.0
68       Sanilac    25   29.0           30.0
69    Shiawassee    51   46.0           55.0
70    St. Joseph    45   25.0            NaN
71       Tuscola    34   39.0           39.0
72       Wexford    45   26.0            NaN

[73 rows x 4 columns]

In [11]:
result_3 = pd.merge(result_2, col_13, how='left', on=['County'])
result_3 = result_3.rename(columns={'Violent crime_x':'2012','Violent crime_y':'2013'})
result_3

          County  2010   2011    2012    2013
0          Barry    37   40.0     NaN    34.0
1            Bay    40   46.0    44.0    37.0
2        Berrien   108  116.0    91.0     NaN
3        Calhoun    65   73.0     NaN    76.0
4           Cass    39   27.0     NaN    44.0
5        Clinton     7   17.0    10.0    21.0
6          Eaton    91   84.0     NaN    94.0
7        Genesee    35   30.0     NaN     NaN
8         Ingham    97   94.0    93.0   118.0
9          Ionia    43   31.0    29.0    33.0
10       Jackson   122  134.0   103.0   129.0
11     Kalamazoo   176  128.0     NaN   202.0
12          Kent   401    NaN   357.0   345.0
13        Lapeer    41   46.0    51.0    53.0
14    Livingston    67   43.0    42.0    66.0
15        Macomb   399  305.0   308.0   304.0
16        Monroe   229  188.0   209.0   215.0
17      Muskegon    36   34.0    46.0    51.0
18       Newaygo    33    NaN     NaN     NaN
19       Oakland   293    NaN  1025.0  1026.0
20        Ottawa   304  263.0   319.0   384.0
21       Saginaw    92   78.0    91.0   105.0
22     St. Clair   146  137.0   134.0   160.0
23     Van Buren   106  106.0     NaN    70.0
24     Washtenaw   460  430.0   446.0   477.0
25         Wayne     6   10.0     0.0     0.0
26        Alcona    18    9.0    13.0    12.0
27       Allegan    96    NaN    93.0    97.0
28        Alpena     5    4.0     1.0    25.0
29        Antrim    37   18.0    22.0    14.0
..           ...   ...    ...     ...     ...
43     Hillsdale    34   25.0     NaN     NaN
44      Houghton     4    5.0     2.0     3.0
45         Huron    12   13.0    15.0    21.0
46         Iosco     1    1.0     1.0     0.0
47          Iron     7    4.0     9.0     8.0
48      Isabella    46   31.0    45.0    46.0
49      Kalkaska    60    9.0    23.0     7.0
50       Lenawee    50   52.0     NaN     NaN
51          Luce    10    6.0     4.0     4.0
52      Mackinac     4    3.0     3.0    11.0
53      Manistee     8    NaN    23.0    25.0
54     Marquette     5    5.0     7.0     1.0
55       Mecosta   144  192.0   193.0   202.0
56       Midland    64    NaN    52.0    54.0
57     Missaukee     1    NaN     NaN    36.0
58      Montcalm    66   57.0    43.0    36.0
59   Montmorency     4    2.0     3.0     5.0
60        Oceana    31   21.0    20.0    24.0
61        Ogemaw    17   19.0    21.0    21.0
62     Ontonagon     6    3.0     2.0     NaN
63       Osceola    23   25.0    16.0    29.0
64        Oscoda    30   21.0    13.0    36.0
65        Otsego     6    3.0     8.0    12.0
66  Presque Isle     4    7.0     5.0     7.0
67     Roscommon    18   14.0    21.0    27.0
68       Sanilac    25   29.0    30.0    54.0
69    Shiawassee    51   46.0    55.0    75.0
70    St. Joseph    45   25.0     NaN     NaN
71       Tuscola    34   39.0    39.0    77.0
72       Wexford    45   26.0     NaN    36.0

[73 rows x 5 columns]

In [12]:
result_4 = pd.merge(result_3, col_14, how='left', on=['County'])
result_4 = result_4.dropna()
result_4

          County  2010   2011   2012   2013  Violent crime
1            Bay    40   46.0   44.0   37.0           55.0
5        Clinton     7   17.0   10.0   21.0           22.0
8         Ingham    97   94.0   93.0  118.0          115.0
9          Ionia    43   31.0   29.0   33.0           43.0
10       Jackson   122  134.0  103.0  129.0          171.0
13        Lapeer    41   46.0   51.0   53.0           55.0
14    Livingston    67   43.0   42.0   66.0           68.0
15        Macomb   399  305.0  308.0  304.0          351.0
17      Muskegon    36   34.0   46.0   51.0           44.0
20        Ottawa   304  263.0  319.0  384.0          477.0
21       Saginaw    92   78.0   91.0  105.0           95.0
22     St. Clair   146  137.0  134.0  160.0          158.0
24     Washtenaw   460  430.0  446.0  477.0          425.0
25         Wayne     6   10.0    0.0    0.0            0.0
26        Alcona    18    9.0   13.0   12.0            7.0
28        Alpena     5    4.0    1.0   25.0            8.0
29        Antrim    37   18.0   22.0   14.0           23.0
30        Arenac    25   19.0   17.0   22.0           23.0
31        Baraga     1    0.0    2.0    2.0            4.0
33        Branch    19    6.0   21.0   14.0            9.0
34    Charlevoix    24   25.0   10.0   15.0           18.0
35     Cheboygan     8    8.0   15.0   10.0            9.0
36      Chippewa     6    5.0   10.0    8.0           12.0
37      Crawford    38   27.0   25.0   37.0           17.0
39         Emmet    20   10.0   22.0   16.0           36.0
40       Gladwin    13   18.0   24.0   31.0           29.0
44      Houghton     4    5.0    2.0    3.0            8.0
45         Huron    12   13.0   15.0   21.0           26.0
46         Iosco     1    1.0    1.0    0.0            1.0
47          Iron     7    4.0    9.0    8.0            3.0
48      Isabella    46   31.0   45.0   46.0           35.0
49      Kalkaska    60    9.0   23.0    7.0           39.0
51          Luce    10    6.0    4.0    4.0            4.0
52      Mackinac     4    3.0    3.0   11.0            3.0
54     Marquette     5    5.0    7.0    1.0            6.0
55       Mecosta   144  192.0  193.0  202.0          179.0
58      Montcalm    66   57.0   43.0   36.0          113.0
59   Montmorency     4    2.0    3.0    5.0            2.0
60        Oceana    31   21.0   20.0   24.0           20.0
61        Ogemaw    17   19.0   21.0   21.0           20.0
63       Osceola    23   25.0   16.0   29.0           17.0
64        Oscoda    30   21.0   13.0   36.0           14.0
65        Otsego     6    3.0    8.0   12.0           11.0
66  Presque Isle     4    7.0    5.0    7.0            7.0
67     Roscommon    18   14.0   21.0   27.0           35.0
68       Sanilac    25   29.0   30.0   54.0           60.0
69    Shiawassee    51   46.0   55.0   75.0           37.0
71       Tuscola    34   39.0   39.0   77.0           50.0

In [13]:
result_5 = pd.merge(result_4, col_15, how='left', on=['County'])
result_5

          County  2010   2011   2012   2013  Violent crime_x  Violent crime_y
0            Bay    40   46.0   44.0   37.0             55.0             46.0
1        Clinton     7   17.0   10.0   21.0             22.0             17.0
2         Ingham    97   94.0   93.0  118.0            115.0            134.0
3          Ionia    43   31.0   29.0   33.0             43.0             34.0
4        Jackson   122  134.0  103.0  129.0            171.0            163.0
5         Lapeer    41   46.0   51.0   53.0             55.0            117.0
6     Livingston    67   43.0   42.0   66.0             68.0              NaN
7         Macomb   399  305.0  308.0  304.0            351.0            272.0
8       Muskegon    36   34.0   46.0   51.0             44.0             61.0
9         Ottawa   304  263.0  319.0  384.0            477.0            489.0
10       Saginaw    92   78.0   91.0  105.0             95.0            105.0
11     St. Clair   146  137.0  134.0  160.0            158.0            130.0
12     Washtenaw   460  430.0  446.0  477.0            425.0            490.0
13         Wayne     6   10.0    0.0    0.0              0.0              0.0
14        Alcona    18    9.0   13.0   12.0              7.0             13.0
15        Alpena     5    4.0    1.0   25.0              8.0              6.0
16        Antrim    37   18.0   22.0   14.0             23.0             41.0
17        Arenac    25   19.0   17.0   22.0             23.0             27.0
18        Baraga     1    0.0    2.0    2.0              4.0              1.0
19        Branch    19    6.0   21.0   14.0              9.0              8.0
20    Charlevoix    24   25.0   10.0   15.0             18.0             30.0
21     Cheboygan     8    8.0   15.0   10.0              9.0              4.0
22      Chippewa     6    5.0   10.0    8.0             12.0             11.0
23      Crawford    38   27.0   25.0   37.0             17.0             28.0
24         Emmet    20   10.0   22.0   16.0             36.0             27.0
25       Gladwin    13   18.0   24.0   31.0             29.0             33.0
26      Houghton     4    5.0    2.0    3.0              8.0              5.0
27         Huron    12   13.0   15.0   21.0             26.0             33.0
28         Iosco     1    1.0    1.0    0.0              1.0              1.0
29          Iron     7    4.0    9.0    8.0              3.0              6.0
30      Isabella    46   31.0   45.0   46.0             35.0             39.0
31      Kalkaska    60    9.0   23.0    7.0             39.0             22.0
32          Luce    10    6.0    4.0    4.0              4.0              6.0
33      Mackinac     4    3.0    3.0   11.0              3.0              9.0
34     Marquette     5    5.0    7.0    1.0              6.0             11.0
35       Mecosta   144  192.0  193.0  202.0            179.0            197.0
36      Montcalm    66   57.0   43.0   36.0            113.0             93.0
37   Montmorency     4    2.0    3.0    5.0              2.0              5.0
38        Oceana    31   21.0   20.0   24.0             20.0             32.0
39        Ogemaw    17   19.0   21.0   21.0             20.0             23.0
40       Osceola    23   25.0   16.0   29.0             17.0             31.0
41        Oscoda    30   21.0   13.0   36.0             14.0             18.0
42        Otsego     6    3.0    8.0   12.0             11.0             10.0
43  Presque Isle     4    7.0    5.0    7.0              7.0              9.0
44     Roscommon    18   14.0   21.0   27.0             35.0             18.0
45       Sanilac    25   29.0   30.0   54.0             60.0             56.0
46    Shiawassee    51   46.0   55.0   75.0             37.0             14.0
47       Tuscola    34   39.0   39.0   77.0             50.0             49.0

In [14]:
result_6 = pd.merge(result_5, col_16, how='left', on=['County'])
result_6 = result_6.dropna()
result_6 = result_6.rename(columns={'Violent crime_x':'2014','Violent crime_y':'2015','Violent crime':'2016'})
result_6

          County  2010   2011   2012   2013   2014   2015   2016
0            Bay    40   46.0   44.0   37.0   55.0   46.0   44.0
1        Clinton     7   17.0   10.0   21.0   22.0   17.0   23.0
2         Ingham    97   94.0   93.0  118.0  115.0  134.0  146.0
3          Ionia    43   31.0   29.0   33.0   43.0   34.0   45.0
4        Jackson   122  134.0  103.0  129.0  171.0  163.0  218.0
5         Lapeer    41   46.0   51.0   53.0   55.0  117.0   60.0
7         Macomb   399  305.0  308.0  304.0  351.0  272.0  322.0
8       Muskegon    36   34.0   46.0   51.0   44.0   61.0   66.0
9         Ottawa   304  263.0  319.0  384.0  477.0  489.0  559.0
10       Saginaw    92   78.0   91.0  105.0   95.0  105.0   98.0
11     St. Clair   146  137.0  134.0  160.0  158.0  130.0  189.0
12     Washtenaw   460  430.0  446.0  477.0  425.0  490.0  588.0
13         Wayne     6   10.0    0.0    0.0    0.0    0.0    6.0
14        Alcona    18    9.0   13.0   12.0    7.0   13.0   10.0
15        Alpena     5    4.0    1.0   25.0    8.0    6.0   10.0
16        Antrim    37   18.0   22.0   14.0   23.0   41.0   15.0
17        Arenac    25   19.0   17.0   22.0   23.0   27.0   29.0
18        Baraga     1    0.0    2.0    2.0    4.0    1.0    3.0
19        Branch    19    6.0   21.0   14.0    9.0    8.0   10.0
20    Charlevoix    24   25.0   10.0   15.0   18.0   30.0   21.0
21     Cheboygan     8    8.0   15.0   10.0    9.0    4.0    7.0
22      Chippewa     6    5.0   10.0    8.0   12.0   11.0    6.0
23      Crawford    38   27.0   25.0   37.0   17.0   28.0   18.0
24         Emmet    20   10.0   22.0   16.0   36.0   27.0   28.0
25       Gladwin    13   18.0   24.0   31.0   29.0   33.0   27.0
26      Houghton     4    5.0    2.0    3.0    8.0    5.0   13.0
27         Huron    12   13.0   15.0   21.0   26.0   33.0   24.0
28         Iosco     1    1.0    1.0    0.0    1.0    1.0    0.0
29          Iron     7    4.0    9.0    8.0    3.0    6.0    8.0
30      Isabella    46   31.0   45.0   46.0   35.0   39.0   48.0
31      Kalkaska    60    9.0   23.0    7.0   39.0   22.0   60.0
32          Luce    10    6.0    4.0    4.0    4.0    6.0   20.0
33      Mackinac     4    3.0    3.0   11.0    3.0    9.0    6.0
34     Marquette     5    5.0    7.0    1.0    6.0   11.0   13.0
35       Mecosta   144  192.0  193.0  202.0  179.0  197.0  241.0
36      Montcalm    66   57.0   43.0   36.0  113.0   93.0   54.0
37   Montmorency     4    2.0    3.0    5.0    2.0    5.0    4.0
38        Oceana    31   21.0   20.0   24.0   20.0   32.0   32.0
39        Ogemaw    17   19.0   21.0   21.0   20.0   23.0   22.0
40       Osceola    23   25.0   16.0   29.0   17.0   31.0   45.0
41        Oscoda    30   21.0   13.0   36.0   14.0   18.0   27.0
42        Otsego     6    3.0    8.0   12.0   11.0   10.0   13.0
43  Presque Isle     4    7.0    5.0    7.0    7.0    9.0    5.0
44     Roscommon    18   14.0   21.0   27.0   35.0   18.0   19.0
45       Sanilac    25   29.0   30.0   54.0   60.0   56.0   45.0
46    Shiawassee    51   46.0   55.0   75.0   37.0   14.0   23.0
47       Tuscola    34   39.0   39.0   77.0   50.0   49.0   43.0

In [15]:
sum_2010 = result_6['2010'].sum()
sum_2011 = result_6['2011'].sum()
sum_2012 = result_6['2012'].sum()
sum_2013 = result_6['2013'].sum()
sum_2014 = result_6['2014'].sum()
sum_2015 = result_6['2015'].sum()
sum_2016 = result_6['2016'].sum()
sum_all = [sum_2010, sum_2011, sum_2012, sum_2013, sum_2014, sum_2015, sum_2016]

In [16]:
#x values for the chart
x_vals = ['2010','2011','2012','2013','2014','2015','2016']

plt.plot(x_vals, sum_all)
sns.set_style("darkgrid")
plt.savefig("Michigan_Crime_2010_2016")